@media (min-width:992px) {
    .container {
        margin-left: 65px;
        margin-right: 65px;
    }

    header .navbar .nav {
        display: block;
    }

    header .navbar .bars {
        display: none;
    }

    /* ======== homepage ========  */
    .homepage .hometext {
        width: 600px;
    }

    .homepage .hometext h1 {
        font-size: 45px;
    }

    .homepage .homepage-p {
        padding-top: 150px;
        padding-bottom: 70px;
    }

    /* =======exp section ======= */
    .experience .main-exp-div {
        display: flex;
        flex-direction: row;
    }

    /* ============== design section =========== */
    .designSec .designBox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .designSec .title p {
        width: 800px;
    }
}