@media (min-width:1200px) {
    .container {
        margin-left: 80px;
        margin-right: 80px;
    }

    /* == homepage== */
    .homepage .hometext h1 {
        font-size: 55px;
    }

    /* =======exp section ======= */
    .experience .main-exp-div .exp-details h1 {
        font-size: 35px;
    }
}