@media (max-width:576px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    header .navbar .nav {
        display: none;
    }

    header .navbar .bars {
        display: block;
    }

    /* ======== homepage ========  */
    .homepage .hometext {
        width: 100%;
    }

    .homepage .hometext h1 {
        font-size: 30px;
    }

    .homepage .homepage-p {
        padding-top: 100px;
        padding-bottom: 70px;
    }
}